.elements {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  column-gap: 18px;
  row-gap: 21px;
  padding-top: 51px;
  margin: auto;
}

@media (max-width: 910px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    padding-top: 36px;
  }
}


@media (max-width: 605px) {
  .elements {
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 361px);
  }
}